@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #7AEBB6;
}

body {
  font-family: JetBrains Mono;
}

.header {
  @apply bg-black w-max p-7 text-center font-bold max-w-3xl max-lg:text-4xl max-md:text-3xl max-sm:text-xl max-sm:p-5  uppercase text-5xl text-white;
}

.btn {
  @apply bg-black h-full px-4 py-2 rounded-lg text-white;
}